<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>All Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="page_container">
        <div class="header">
            <h1>{{needed_tv_show.title }}</h1>
            <a href="/shows">Go Back</a>
        </div>
        <hr>
        <div>
            <p>Title: {{needed_tv_show.title }}</p>
            <p>Network: {{needed_tv_show.network }}</p>
            <p>Release date: {{needed_tv_show.release_date }}</p>
            <p>Description: {{needed_tv_show.description }}</p>
        </div>
        <hr>
        <p>Last updated at: {{needed_tv_show.updated_at }}</p>

        <div class="header">
            <p><a href="/edit/{{needed_tv_show.id}}">Edit</a> | <a href="/delete/{{needed_tv_show.id}}">Delete</a></p>
        </div>
    </div>
</body>
</html>