<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="page_container">
        <div class="header">
            <h1>{{ cur_user.first_name }}, welcome to the wall!</h1>
            <a href="/logout">Logout</a>
        </div>
        <div class="form_container">
            <form class ="form-group" method="POST" action="/wall/create_message">
                {% csrf_token %}
                <div class="form-group">
                    <label for="message">Write Message</label>
                    <textarea  class="form-control" name="message" id="message"></textarea>
                </div>
                <button class = 'btn btn-success'>Add Message</button>
            </form>
        </div>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <div id="display_messages">
            {% for mess in all_messages %}
            <div class='dsvsv'>
                <div class="head_message">
                    <h4>{{mess.poster.first_name}} {{mess.poster.last_name}}</h4>
                    <a href="delete_message/{{mess.id}}">Delete Message</a>
                </div>
                <p>{{mess.message}}</p>  
                <div class="bottom_message">
                    <span class="small">{{mess.created_at}}</span>
                    <div class="like">
                        <ion-icon name="heart"></ion-icon>
                        {% if cur_user in mess.likes.all %}
                        <a href="unlike/{{mess.id}}">Unlike</a>
                        {% else %}
                        <a href="like/{{mess.id}}">Like</a>
                        {% endif %}
                        <p class="likess">{{mess.likes.count}}</p>
                    </div>
                    <div></div>
                    <div></div>
                </div>

                {% for comment in mess.comments.all %}
                <div class="comment_container">
                    <p class="comment_p">{{comment.comment}}</p>
                    <div class="posted_info">
                        <p class="postedby">{{comment.poster.first_name}} {{comment.poster.last_name}}</p>
                        <p class="postedwhen">{{comment.created_at}}</p>
                    </div>
                </div>
                
                {% endfor %}

                <form action="add_comment/{{mess.id}}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea  class="form-control" name="comment" id="comment"></textarea>
                    </div>
                    <button class = 'btn btn-secondary'>Add Comment</button>
                </form>
                <hr>
            </div>
            {% endfor %}
            
        </div>

        <h3 class="mt-5">Our Users</h3>
        <table class="table table-bordered mt-1">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }} {{user.last_name}}</td>
                    <td>{{ user.birth_date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ user.email }}</td>
                    <td><a href="delete_user/{{ user.id }}">delete user</a></td>
                </tr>
                {% endfor %}

            </tbody>

        </table>

    </div>
    

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>

